<h1>Image Upload</h1>
<table class="table table-striped" *ngIf="photos">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Data</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let photo of photos; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{photo.id}}</td>
      <td>{{photo.name}}</td>
      <td>
        <img src={{photo.imageData}} alt="" id="img" height="400px">
      </td>
    </tr>
  </tbody>
</table>
<input type="file" (change)="onUploadChange($event)">
<button type="button" (click)="addTest()">Upload</button>
<br>
<img *ngFor="let item of base64textString" src={{item}} alt="" id="img" height="400px">
