<div class="center-content">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle >Photo Gallery</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form class="login-form">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Username</mat-label>
          <input type="text" matInput placeholder="Username" value="" name="username" #name>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Password" value="" name="password" #password>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <a [routerLink]="['../', 'profile']" mat-raised-button color="primary" (click)="login(name.value.trim(), password.value.trim())">Login</a>
    </mat-card-actions>
  </mat-card>
</div>
